<a href="https://colab.research.google.com/github/ManuelLopezParedes/exercismPY/blob/master/Tarea3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importamos librerias
import pandas as pd
import numpy as np

In [2]:
# cargamos el DF
df = pd.read_csv('empleados.csv')
df

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Nombre                            933 non-null    object
 1   Sexo                              855 non-null    object
 2   Fecha de inicio                   1000 non-null   object
 3   Hora del último inicio de sesión  1000 non-null   object
 4   Salario                           1000 non-null   int64
 5   bonificación %                    1000 non-null   float64
 6   Alta dirección                    933 non-null    object
 7   Equipo                            957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [4]:
df.describe

<bound method NDFrame.describe of       Nombre    Sexo Fecha de inicio Hora del último inicio de sesión  \
0    Douglas    Male        8/6/1993                         12:42 PM
1     Thomas    Male       3/31/1996                          6:53 AM
2      Maria  Female       4/23/1993                         11:17 AM
3      Jerry    Male        3/4/2005                          1:00 PM
4      Larry    Male       1/24/1998                          4:47 PM
..       ...     ...             ...                              ...
995    Henry     NaN      11/23/2014                          6:09 AM
996  Phillip    Male       1/31/1984                          6:30 AM
997  Russell    Male       5/20/2013                         12:39 PM
998    Larry    Male       4/20/2013                          4:45 PM
999   Albert    Male       5/15/2012                          6:24 PM

     Salario  bonificación % Alta dirección                Equipo
0      97308           6.945           True             Marketing
1      61933           4.170           True                   NaN
2     130590          11.858          False               Finance
3     138705           9.340           True               Finance
4     101004           1.389           True       Client Services
..       ...             ...            ...                   ...
995   132483          16.655          False          Distribution
996    42392          19.675          False               Finance
997    96914           1.421          False               Product
998    60500          11.985          False  Business Development
999   129949          10.169           True                 Sales

[1000 rows x 8 columns]>